body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.banner {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(86, 85, 85);
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  width: 95%;
  margin: 2% auto;
}

.searchbar {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.forecast-wrap {
  width: 70%;
  min-height: 200px;
  border: 2px;
}

.left-section {
  width: 30%;
  max-height: 170px;
  margin-left: 10px;
}

.search-wrap {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  border-bottom: 10px;
}
.search-btn {
  background-color: aqua;
  color: inherit;
  color: black;
  padding: 10px;
  font: inherit;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-label {
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.city-forecast {
  font-family: Arial, Helvetica, sans-serif;

  width: 170px;
  min-height: 200px;
  margin: 0 auto;
}
.search-btn {
  background: rgb(163, 130, 194);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-btn:hover {
  cursor: pointer;
  background: rgb(152, 116, 186);
}

.search-wrap {
  border-bottom: 2px solid rgb(215, 213, 213);
}

.city-forecast {
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  margin: 5px auto;
  min-height: 170px;
  border: 2px solid rgb(215, 213, 213);
}

.five-day-forecast {
  font-family: Arial, Helvetica, sans-serif;

  width: 95%;
  margin: 0 auto;
  min-height: 200px;
}

.day-wrap {
  font-family: Arial, Helvetica, sans-serif;
  width: 13%;
  padding: 20px;
  background-color: rgb(163, 130, 194);
  color: white;
}

.temperature,
.humidity,
.wind,
.uv-index {
  width: 20%;
}

.recent-history-button {
  justify-content: center;
  width: 100%;
  background-color: #AEAEAE;
}


.weekly-heading{
  width: 95%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
  font-weight: bold;
}

.hidden{
  display: none;
}

#cityname-date{
  font-size: 30px;
  font-weight: bold;
}